:root {
    --main-color: #ef4b79;
}

body.portfolio{
    background: aliceblue;;
}
header .logo{
    /* font-size: 2.5rem; */
    color: #fff;
    font-weight: bolder;
    height: 85px;
    width: auto;
}

header .navbar a {
    color: var(--main-color);
}
#menu-bar{
    color: #342f2f;
}
header{
    background: #fff;
}

.team .box-container .box-packages{
    width:45%;
    padding: 30px;
}
.team .box-container .box-packages h3{
    text-transform: uppercase;
    font-size: 18px;
}
.packages-price{
    color: var(--main-color);
}
.packages-list{
    list-style: none;
    text-align: left;
    margin-top: 15px;
}
.packages-list li{
    padding: 3px 4px;
    font-size: 14px;
}
.packages-list li::before{
    content: " ";
    height: 8px;
    width: 8px;
    display: block;
    float: left;
    background: var(--main-color);
    margin-right: 6px;
    margin-top: 3px;
    border-radius: 13px;
}
.step .step-num{
    background: var(--main-color);
    position: absolute;
    margin-top: -68px;
    padding: 10px;
    border-radius: 9px;
}
.step .step-num span{
    color: #fff;
    text-align: center;
    font-size: 6rem;
}
.our-content{
    background: #fff;
}
.our-content .heading h1{
    color: #342f2f;
}
.box-services{
    width: 20%;
    display: inline-block;
    text-align: center;
    padding: 15px;
}
.box-services:hover{
    cursor: pointer;
    background: #e76e9059;
}
.box-services h4{
    font-size: 2rem;
    color: #db4848;
    margin: 10px 5px;
}
.box-services i,span{
    font-size: 15rem;
    color: var(--main-color);
}
.text-center{text-align: center;}
.btn:hover {
    background: var(--main-color);
    border-color: var(--main-color);
    color: #fff;
}
.btn-danger-outline{border-color:var(--main-color);}
.footer span {
    color: var(--main-color);
    font-size: inherit;
}
.n-pt{padding-top: 0px;}

/* Portfolio */
.portfolio-item{
    margin: 15px auto;
}
.portfolio-title{
    font-size: large;
}
.portfolio-list{
    list-style: none;
}
.portfolio-list li{
    font-weight: 400;
}
/* .portfolio-features{
    width: 12%;
    display: flex;
} */
.portfolio-images{
    text-align: right;
    display: block;
}
.page-section{
    margin-top: 125px;
    background: #db4848;
}
.title-section {list-style: none;}
.title-section li{
    font-size: 3rem;
    display: inline;
    margin-right: 13px;
}
.title-section li::after{
    content: "";
    display: inline;
    height: 8px;
    width: 8px;
    background: #fff;
}
.title-section li:last-child{font-weight: 700;}
.title-section li:last-child::after{
    height: 0px; width: 0px;
}
/* .page-title{ background: #5c48db;} */

.portfolio-container-images{
    padding: 15px 20px;
}

.portfolio-container-images img{
    display: inline-block;
    width: 150px;
}
/* .portfolio-row{
    border: 3px solid #fff;
    padding: 20px;
} */
/* .portfolio-col {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  */
.rw-clean{
    clear: both;
}
/* mansory grid */
.grid {
    margin: 0 auto;
  }

.grid-item {
    float: left;
    width: 80px;
    height: 60px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
  }
  
  .grid-item--width2 { width: 160px; }
  .grid-item--height2 { height: 140px; }

/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 20%; }

/* 2 columns wide */
.grid-item--width2 { width: 40%; }